<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="{{ contact_full_name }}">
	<meta name="description" content="Personal website for {{ contact_full_name }}">

  <title>{{ __title__ }} - {{ contact_full_name }}</title>

  <link rel="icon" type="image/x-icon" href="{{ base_url }}/img/favicons/favicon.ico" sizes="16x16 24x24 32x32 48x48 64x64">
	<link rel="mask-icon" href="{{ base_url }}/img/favicons/safari-pinned-tab.svg" color="#0078d7">
	<link rel="apple-touch-icon-precomposed" href="{{ base_url }}/img/favicons/favicon-57.png" sizes="57x57">
	<link rel="apple-touch-icon-precomposed" href="{{ base_url }}/img/favicons/favicon-60.png" sizes="60x60">
	<link rel="apple-touch-icon-precomposed" href="{{ base_url }}/img/favicons/favicon-72.png" sizes="72x72">
	<link rel="apple-touch-icon-precomposed" href="{{ base_url }}/img/favicons/favicon-76.png" sizes="76x76">
	<link rel="apple-touch-icon-precomposed" href="{{ base_url }}/img/favicons/favicon-114.png" sizes="114x114">
	<link rel="apple-touch-icon-precomposed" href="{{ base_url }}/img/favicons/favicon-120.png" sizes="120x120">
	<link rel="apple-touch-icon-precomposed" href="{{ base_url }}/img/favicons/favicon-144.png" sizes="144x144">
	<link rel="apple-touch-icon-precomposed" href="{{ base_url }}/img/favicons/favicon-152.png" sizes="152x152">
	<link rel="apple-touch-icon-precomposed" href="{{ base_url }}/img/favicons/favicon-180.png" sizes="180x180">
	<meta name="msapplication-TileColor" content="#0078d7">
	<meta name="msapplication-TileImage" content="{{ base_url }}/img/favicons/favicon-144.png">
	<meta name="application-name" content="{{ contact_full_name }}">
	<meta name="msapplication-tooltip" content="personal website">
	<meta name="msapplication-config" content="{{ base_url }}/img/favicons/ieconfig.xml">
	<link rel="icon" type="image/png" href="{{ base_url }}/img/favicons/favicon-32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ base_url }}/img/favicons/favicon-96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="{{ base_url }}/img/favicons/favicon-128.png" sizes="128x128">
	<link rel="icon" type="image/png" href="{{ base_url }}/img/favicons/favicon-195.png" sizes="195x195">
	<link rel="icon" type="image/png" href="{{ base_url }}/img/favicons/favicon-196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="{{ base_url }}/img/favicons/favicon-228.png" sizes="228x228">

  <link rel="stylesheet" href="{{ base_url }}/css/vendor/tacit-css.min.css">
  <link rel="stylesheet" href="{{ base_url }}/css/dist/style.css">
</head>
